<?xml version="1.0" encoding="UTF-8"?>
<web-app
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	id="WebApp_ID" 
	version="2.5">
	
<!-- Tomcat 5.5 (supporto terminato Sett 2012) Support Servlet 2.4 -->
<!-- Tomcat 6 Support Servlet 2.5 -->
<!-- Tomcat 7 Support Servlet 3 -->
<!-- xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" -->
<!-- version="3.0"-->

    
	<display-name>TosdanUtils</display-name>
  
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>GlobalDownloadFolder</param-name>
		<param-value>D:/Projects/_WEB-INF/WebAppsData/Download/</param-value>
	</context-param>
		 
	<context-param>
		<param-name>SqlLoaderConf_File</param-name>
		<param-value>/WEB-INF/WebAppsConfigFiles/SqlLoader/SqlLoaderConf.yml</param-value>
	</context-param>
	
	<filter>
		<filter-name>SqlLoaderFilter</filter-name>
		<filter-class>com.github.tosdan.dismesse.utils.filters.SqlLoaderFilter</filter-class>        
        <init-param>
	        <param-name>SqlLoaderConf_File</param-name>
	        <param-value>/WEB-INF/WebAppsConfigFiles/SqlLoader/SqlLoaderConf.yml</param-value>
	    </init-param>        
	</filter>
	<filter-mapping>
		<filter-name>SqlLoaderFilter</filter-name>
		<url-pattern>/filter/sqlloader/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>		
	</filter-mapping>

	<filter>
	    <filter-name>NoCacheFilter</filter-name>
	    <filter-class>com.github.tosdan.utils.filters.NoCacheFilter</filter-class>
	</filter>
	<filter-mapping>	
		<filter-name>NoCacheFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	
	
	<filter>
		<filter-name>AuthFilter</filter-name>
		<filter-class>com.github.tosdan.dismesse.utils.filters.AuthFilter</filter-class>		
		<init-param>
			<param-name>userIDIdentifier</param-name>
			<param-value>UserID</param-value>
		</init-param>
		<init-param>
			<param-name>warnPage</param-name>
			<param-value>/sessionWarn.jsp</param-value>
		</init-param>		
	</filter>	
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/jsp/AuthFilter/*</url-pattern>
	</filter-mapping>
	
	
	<filter>
		<filter-name>SqlManagerFilter</filter-name>
		<filter-class>com.github.tosdan.dismesse.utils.filters.SqlManagerFilter</filter-class>        
        <init-param>
	        <param-name>logFileName</param-name>
	        <param-value>/WEB-INF/WebAppsLogFiles/SqlManger/logSqlMangerServlet.txt</param-value>
	    </init-param>        
        <init-param>
	        <param-name>SqlManagerServletConf_File</param-name>
	        <param-value>/WEB-INF/WebAppsConfigFiles/SqlManager/SqlManagerServletConf.properties</param-value>
	    </init-param>        
        <init-param>
	        <param-name>SqlManagerServletConf_Path</param-name>
	        <param-value>/WEB-INF/WebAppsConfigFiles/SqlManager</param-value>
	    </init-param>
	</filter>	
	<filter-mapping>
		<filter-name>SqlManagerFilter</filter-name>
		<url-pattern>/filter/sqlmanager/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>			
	</filter-mapping>


<!-- ** FINE Filtri ** Inizio Servlets ** -->


	<servlet>
		<servlet-name>FolderTreeServlet</servlet-name>
		<servlet-class>
			com.github.tosdan.beta.utils.servlets.FolderTreeServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FolderTreeServlet</servlet-name>
		<url-pattern>/servlet/ftree/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DownloadServlet</servlet-name>
        <servlet-class>com.github.tosdan.beta.utils.servlets.DownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/servlet/download_old/*</url-pattern>
    </servlet-mapping>
	
	<servlet>
		<servlet-name>DownloadServletImpl</servlet-name>
        <servlet-class>com.github.tosdan.utils.servlets.DownloadServletImpl</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>DownloadServletImpl</servlet-name>
        <url-pattern>/servlet/download/*</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
		<servlet-name>QueryRunnerServlet</servlet-name>
        <servlet-class>com.github.tosdan.beta.utils.servlets.QueryRunnerServlet</servlet-class>
        <init-param>
        	<param-name>file_dbConf</param-name>
        	<param-value>/WEB-INF/dbconf.properties</param-value>
       	</init-param>
        <init-param>
	        <param-name>logFileName</param-name>
	        <param-value>/WEB-INF/WebAppsLogFiles/QueryRunner/logQueryRunner.txt</param-value>
	    </init-param>
	</servlet>
    <servlet-mapping>
        <servlet-name>QueryRunnerServlet</servlet-name>
        <url-pattern>/servlet/dtreply/*</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
		<servlet-name>SqlManagerConfig</servlet-name>
        <servlet-class>com.github.tosdan.dismesse.utils.servlets.SqlManagerConfig</servlet-class>
        <init-param>
	        <param-name>SqlManagerConf_File</param-name>
	        <param-value>/WEB-INF/WebAppsConfigFiles/SqlManager/SqlManagerServletConf.properties</param-value>
	    </init-param>        
        <init-param>
	        <param-name>SqlManagerServletConf_File</param-name>
	        <param-value>/WEB-INF/WebAppsConfigFiles/SqlManager/SqlManagerServletQueriesRepos.properties</param-value>
	    </init-param>        
        <init-param>
	        <param-name>SqlManagerServletConf_Path</param-name>
	        <param-value>/WEB-INF/WebAppsConfigFiles/SqlManager</param-value>
	    </init-param>
    </servlet>
	<servlet-mapping>
        <servlet-name>SqlManagerConfig</servlet-name>
        <url-pattern>/servlet/sqlmanagerconf/*</url-pattern>
    </servlet-mapping>
    
    
	<servlet>
        <servlet-name>ExcelOutServlet</servlet-name>
        <servlet-class>com.github.tosdan.beta.utils.servlets.ExcelOutServlet</servlet-class>
        <init-param>
        	<param-name>dummy</param-name>
        	<param-value>dummy</param-value>
       	</init-param>
    </servlet>        
	<servlet-mapping>
        <servlet-name>ExcelOutServlet</servlet-name>
        <url-pattern>/servlet/excelout/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>SqlManagerServlet</servlet-name>
        <servlet-class>com.github.tosdan.dismesse.utils.servlets.SqlManagerServlet</servlet-class>
        <init-param>
	        <param-name>logFileName</param-name>
	        <param-value>/WEB-INF/WebAppsLogFiles/SqlManger/logSqlMangerServlet.txt</param-value>
	    </init-param>
        <init-param>
	        <param-name>SqlManagerServletConf_File</param-name>
	        <param-value>/WEB-INF/WebAppsConfigFiles/SqlManager/SqlManagerServletConf.properties</param-value>
	    </init-param>
        <init-param>
	        <param-name>SqlManagerServletConf_Path</param-name>
	        <param-value>/WEB-INF/WebAppsConfigFiles/SqlManager</param-value>
	    </init-param>
	</servlet>
	<servlet-mapping>
        <servlet-name>SqlManagerServlet</servlet-name>
        <url-pattern>/servlet/sqlmanager/*</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
		<description>Servlet di Upload</description>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>com.github.tosdan.beta.utils.servlets.UploadServletR01</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/UploadServlet/*</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<description>Test per jQueryFileDownload.js</description>
		<servlet-name>JqueryFileDownloadJSTests</servlet-name>
		<servlet-class>com.github.tosdan.tests.JqueryFileDownloadJSTests</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>JqueryFileDownloadJSTests</servlet-name>
        <url-pattern>/servlet/jqdownjs/*</url-pattern>
    </servlet-mapping>
  
</web-app>