<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TosdanUtils</display-name>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
	<servlet>
    <description></description>
		<servlet-name>QueryRunnerServlet</servlet-name>
        <servlet-class>com.github.tosdan.utils.servlets.QueryRunnerServlet</servlet-class>
        
        <init-param>
        	<param-name>file_dbConf</param-name>
        	<param-value>/WEB-INF/dbconf.properties</param-value>
       	</init-param>
       	
        <init-param>
	        <param-name>logFileName</param-name>
	        <param-value>/WEB-INF/WebAppsLogFiles/QueryRunner/logQueryRunner.txt</param-value>
	    </init-param>
        
	</servlet>
    <servlet-mapping>
        <servlet-name>QueryRunnerServlet</servlet-name>
        <url-pattern>/servlet/dtreply/*</url-pattern>
    </servlet-mapping>
    
            
	<servlet>
    <description></description>
	    <servlet-name>SqlManagerServlet</servlet-name>
	    <servlet-class>com.github.tosdan.utils.servlets.SqlManagerServlet</servlet-class>
	    
	    <init-param>
	        <param-name>logFileName</param-name>
	        <param-value>/WEB-INF/WebAppsLogFiles/SqlManger/logSqlMangerServlet.txt</param-value>
	    </init-param>
	    
	    <init-param>
	        <param-name>SqlManagerServletConf_File</param-name>
	        <param-value>/WEB-INF/WebAppsConfigFiles/SqlManager/SqlManagerServletConf.properties</param-value>
	    </init-param>
	    
	    <init-param>
	        <param-name>SqlManagerServletConf_Path</param-name>
	        <param-value>/WEB-INF/WebAppsConfigFiles/SqlManager</param-value>
	    </init-param>
	    
	</servlet>
	<servlet-mapping>
	    <servlet-name>SqlManagerServlet</servlet-name>
	    <url-pattern>/servlet/sqlmanager/*</url-pattern>
	</servlet-mapping>
        
        
  <servlet>
    <description></description>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.github.tosdan.beta.utils.servlets.UploadServletR01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet/*</url-pattern>
  </servlet-mapping>
  
</web-app>