/* Main Stylesheet */
/* Import Bootstrap styles and Responsive styles */
@import url('bootstrap.css');
@import url('bootstrap-fileupload.css');
@import url('sh_bright.css');
/*@import url('bootstrap-responsive.css');*/


body {
  padding-top: 60px;
  padding-bottom: 40px;
  }

.query-testuale {
	width: 98%;
	cursor: text !important ;
}

#div-query-compilata {
	display: none;
}

#div-interno-query-compilata {
	max-height: 700px !important;
	overflow: auto !important;
}






